.the_main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour,.minute,.second{
    position: absolute;
    border-radius: 10px;
    margin-top: 20px;
    transform: rotate(45deg);
    transform-origin: bottom;
    justify-content: center;
    align-items: center;
}




/* Initial classes */
.site-header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.image-background{
    max-height: 200px;
}


.clock{
    top: 250px;
    border: 5px solid black;
    display: flex;
    position: absolute;
    height: 580px;
}

.radius{
    border-radius: 20px;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: green;
    top: 540px;
    z-index: 4;
}

.hour{
    height: 280px;
    width: 12px;
    background-color: black;
    left: 48.58%;
    z-index: 3;

}

.minute{
    height: 280px;
    width: 12px;
    background-color: red;
    left: 48.58%;
    z-index: 2;
}

.second{
    height: 280px;
    width: 5px;
    background-color: green;
    left: 48.58%;
    z-index: 1;
}
/* End classes */