.the_main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour,.minute,.second{
    width: 8px;
    height: 280px;
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
    margin-top: 20px;
}




/* Initial classes */
.site-header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.image-background{
    max-height: 200px;
}


.clock{
    position: absolute;
    margin-left: 250px;
    margin-right: 250px;
    top: 250px;
    margin-bottom: 250px;
    border-radius: 300px;
    border: 5px solid black;
}

.hour{
    background-color: black;
    left: 48.58%;

}

.minute{
    background-color: black;
    left: 48.58%;
}

.second{
    background-color: black;
    left: 48.58%;
}
/* End classes */