body{ 
    background-color: white;
    font-family: "Roboto Serif";
    min-height: 4000px;
}

/* dobbiamo far si che l'immagine si adatti al display della macchina che guarderà il sito web */
img{
    display: block; /* proprietà block in quanto possiamo settare la larghezza e l'altezza */ 
    height: auto;
    width: 100%;
}

form{
    label{
        display: block;
        border: 0.5em 0 0.25em;
    }

    /* applichiamo alle proprietà (textarea e input) degli attributi di tipo (border e width). Il not su checkbox significa che quell'input non riceverà gli attributi immessi su textarea e input */
    textarea,
    input:not([type="checkbox"]) {
        width: 100%;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        background-color: transparent;
    }

    input + label{
        display: inline-block;
    }
}


.site-logo-wrapper img{
    max-width: 120px;

}

.title-link{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.background-title{
    color: black;
}

.background-title:hover{
    background-color: #ddd;
}

.site-header{
/* sticky e fixed seguono la barra strumenti per tutta la pagina: 
sticky: (non va a mangiare la hero-image, dunque si appoggia sopra di esso quando la pagina 
è in alto, senza nascondere nessun pixel dell'immagine. 
Fixed: (mangia la hero-image, dunque nasconde dei pixel dell'immagine */
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: white;
    nav{
        li{
            display: inline-block;
        }
    }
    a{
        color:black; 
    }
} 


.hero {
    position: relative;
    overflow: hidden; /* tutto ciò che va oltre al tuo flusso devi nasconderlo */
    height: 800px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-image{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover; /* prende l'immagine e dice che deve occupare tutto lo spazio in altezza e larghezza, ma senza deformarsi quando rimpicciolisco e ingrandisco la pagina */
    opacity: 0.5;
}

.hero-content{
    position: relative;
    z-index: 1;
    color: white;

    h1{
        font-size: 3rem;

    }
    p{
        font-size: 1.75rem;
    }
}
.media-text {
    display: flex;

    .btn {
        width: fit-content;
        padding: 1em 2em;
        background-color: greenyellow;
        color: black;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
     }  

     .btn:hover{
        background-color: yellow;
     }


    .media-text-image-wrapper{
        flex: 1 1 50%; /* 1 = flex-grow, ovvero quanto possono allungarsi / 0 = flex shrink(quanto possono diminuire la loro grandezza / 50% = flax basis specifica quanto almeno devono essere larghi. */ 
    }

    .hero-image{
        opacity: 1;
    }

    .media-text-content-wrapper{
        padding: 4em;
        flex: 1 1 calc(50% - 8em);
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    h2{
        font-size: 2em;
    }
    
    p{
        font-size: 1.25em;
        margin: 1.5em;

    }

}


.media-text:nth-child(odd){ /* Con la funzione seguente diciamo di passare al secondo "media-text" degli attributi aggiuntivi, 
                                dunque un flex direction: row-reverse */
 flex-direction: row-reverse;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    /* body {
      background-color: blue;
    } */
    .media-text{
        display: block;  
        /* applicando la proprietà display: block nella classe "media-text(figlio), permette di sovrascrivere quelle applicate nella "media text"(regina) 
        facendo in modo di vedere le immagini e i testi nei dispositivi mobili in ordine sequenziale - {derivabilità delle classi} */
    }

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }

  .contact-section{
    display: flex;
    padding: 4em;
    background-color: #151515;

    .contact-section-info,
    .contact-section-form{
        padding: 2em;
        flex: 1 1 calc(50% - 4em);
    }
    
    .contact-section-info{
        background-color: white;
        border-bottom-left-radius: 0.15em;
        border-bottom-left-radius: 0.15em;
    }
    .contact-section-form{
        background-color: #ddd;
        border-top-right-radius: 0.15em;
        border-bottom-left-radius: 0.15em;
    }

    h3{
        font-size: 2.5rem;
        margin-bottom: 1em;
        font-weight: bold;
    }

    ul{
        list-style-type: none;
        margin-bottom: 2.5em;
    }

    .list-social{
        li{
            display: inline-block;
        }
    }

    /* prendiamo in considerazione un attributo dell'html[icon], per fare in modo di assegnare la stessa proprietà a tutti gli icon dell'html */
    [class |="icon"] {
        font-size: 1.75rem;
    }

    [class |="icon"] + span {
        margin-left: 1em;
    }
}

/* modifichiamo la sezione footer */
.site-footer{
    padding-top: 1em;
    background-color: black;

    ul {
        li{
            display: inline-block;
        }
    }

    /* modifichiamo il primo contenitore orizzontale(div) della struttura "footer" */
    .site-footer-primary{
        display: flex;
        .col-1-3{
            flex: 1 1 33.33%;
        }

        .col-2-3{
            flex: 1 1 66.66%;
            text-align: right;
        a{
            color: white;
            font-size: 2rem;
             }
         }
    }

    /* applichiamo attributi al secondo contenutore orizzontale(div) della struttura "footer" */
    .site-footer-secondary{
        padding: 1em 0;
        border-top: 1px solid #5b5b5b;
        margin-top: 1em;
        text-align: center;
            li{
                margin: 0 0.5em;
            }

            a{
                color: #616161;
                font-size: 0.75rem;
            }
    }
}

.containter{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.menu-is-open{
    
    .site-header{
    background-color: red;
    }
}

/* END CLASSES */ 