.the_main{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.hour,.minute,.second{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}




/* Initial classes */
.site-header{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.image-background{
    max-height: 200px;
}


.clock{
    border: 5px solid black;
    display: flex;
    height: 580px;
    justify-content: center;
}

.radius{
    border-radius: 20px;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: green;
    z-index: 4;
}

.hour{
    height: 280px;
    width: 12px;
    background-color: black;
    z-index: 3;

}

.minute{
    height: 280px;
    width: 12px;
    background-color: red;
    z-index: 2;
}

.second{
    height: 280px;
    width: 5px;
    background-color: green;
    z-index: 1;
}
/* End classes */