body{ 
    background-color: white;
    font-family: "Roboto Serif";
}

.site-logo-wrapper img{
    max-width: 120px;

}

.title-link{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.background-title{
    color: black;
}

.site-header{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
